{% extends "base.html" %}
{% block content %}
<div class="container mt-5 w-50">
    <h2 class="text-center">Editar Agencia</h2>

    <form method="POST" action="{{ url_for('agency.guardar_agencia', agency_id=agency.agency_id) }}" class="mt-4">
        <div class="form-group">
            <label for="agency_name">Nombre</label>
            <input type="text" class="form-control" id="agency_name" name="agency_name" value="{{ agency.agency_name }}" required>
        </div>
        <div class="form-group">
            <label for="agency_url">Sitio web (URL)</label>
            <input type="text" class="form-control" id="agency_url" name="agency_url" value="{{ agency.agency_url }}">
        </div>
        <div class="form-group">
            <label for="agency_timezone">Zona Horaria</label>
            <input type="text" class="form-control" id="agency_timezone" name="agency_timezone" value="{{ agency.agency_timezone }}" required>
            <small class="form-text text-muted">(Argentina)</small>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>
{% endblock %}