{% extends "base.html" %}
{% block content %}
<div class="container mt-5 w-50">
    <h2 class="text-center">Exportar GTFS</h2>

    <!-- Mensaje exitoso -->
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <div class="alert alert-success" role="alert">
          {% for category, message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

   

    <!-- Tabla de estadística -->
    <h3 class="mt-5">Estadísticas</h3>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Conteo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Agencias</td>
                <td>{{ agencies_count }}</td>
            </tr>
            <tr>
                <td>Líneas</td>
                <td>{{ routes_count }}</td>
            </tr>
            <tr>
                <td>Paradas</td>
                <td>{{ stops_count }}</td>
            </tr>
            <tr>
                <td>Calendarios</td>
                <td>{{ calendars_count }}</td>
            </tr>
            <tr>
                <td>Recorridos</td>
                <td>{{ trips_count }}</td>
            </tr>
            <tr>
                <td>Conexiones de paradas</td>
                <td>{{ stop_times_count }}</td>
            </tr>
        </tbody>
    </table>
    <form method="POST" class="mt-4">
        <div class="row">
         <div class="col"></div>   
         <div class="col"></div>  
        <button type="submit" class="btn btn-primary col">Exportar GTFS</button>
        </div>
    </form>
</div>

{% endblock %}
